config mqtt_msg 'mqtt_msg'

config mqtt_sub 'mqtt_settings'

config mqtt_topic
        option topic 'example_topic'
        option qos '0'

config mqtt_event 'labas'           
        option topic 'example_topic'
        option type 'decimal'
        option value '30'
        option dec_operator '0'     
        option user_email 'er.masaitis@gmail.com'
        option sender 'teltonika'
                         
config mqtt_topic              
        option qos '0'                       
        option topic 'example2'
                 
config mqtt_event 'labas2'
        option topic 'example_topic'
        option type 'decimal'
        option value '20' 
        option dec_operator '1'     
        option user_email 'erikas@aa.com'
        option sender 'teltonika'
                         
config mqtt_event 'labas3'     
        option topic 'example2'          
        option type 'decimal'
        option value '2323'
        option dec_operator '0'
        option user_email 'asd@gmail.com'
        option sender 'teltonika'
                           
config mqtt_event 'example'    
        option type 'decimal'            
        option value '30'
        option dec_operator '0'
        option user_email 'pukis@gmail.com'
        option topic 'example_topic'
        option sender 'teltonika'

